{% extends "layout.njk" %}

{% block content %}
 {% include 'components/landing/hero.njk' %}

 {% include 'components/logo_cloud.njk' %}

 {% include 'components/landing/testimonials.njk' %}

 {% include 'components/demo_request.njk' %}

{% endblock %}

