<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-center text-lg font-semibold leading-8 text-gray-900">Empowering Construction Collaboration: Preferred by Innovative General Contractors and Subcontractors</h2>
    <div class="ticker-container relative overflow-hidden mt-10 mx-auto w-full">
      <div class="flex animate-ticker space-x-16 grayscale" id="ticker-container">
        <!-- Add your logo images here. -->
        <img src="/images/logos/logo_ellisdon.svg" alt="Transistor">
        <img src="/images/logos/logo_gilbane.svg">
        <img src="/images/logos/logo_bmcd.svg" alt="Tuple">
        <img src="/images/logos/logo_coastal.svg" alt="SavvyCal">
        <img src="/images/logos/logo_pcl.svg" alt="Statamic">
        <!-- Add your logo images here. -->
        <img src="/images/logos/logo_ellisdon.svg" alt="Transistor">
        <img src="/images/logos/logo_gilbane.svg">
        <img src="/images/logos/logo_bmcd.svg" alt="Tuple">
        <img src="/images/logos/logo_coastal.svg" alt="SavvyCal">
        <img src="/images/logos/logo_pcl.svg" alt="Statamic">
        <!-- Add your logo images here. -->
        <img src="/images/logos/logo_ellisdon.svg" alt="Transistor">
        <img src="/images/logos/logo_gilbane.svg">
        <img src="/images/logos/logo_bmcd.svg" alt="Tuple">
        <img src="/images/logos/logo_coastal.svg" alt="SavvyCal">
        <img src="/images/logos/logo_pcl.svg" alt="Statamic">
      </div>
    </div>
  </div>
</div>
